body {
	font-family:verdana;
	/* display: flex;
	justify-content: center;
	flex-direction: column; */
}



.option {
	
	background-color: #a1cae3;
	width: 300px;
	display:none;
	margin-bottom: 10px;
	
}

/* #start, #end {
	background-color: black;
} */

#end {
	display: none;
}

